
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared styles  */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 1.25rem 1.51rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
}
/* header parts  */
.navbar{
    align-items: center;
    justify-content: space-between;
}
.brand{
    font-weight: 800;
    font-size: 3rem;
}
.nav-item{
     list-style: none;
     margin-right: 2.2rem;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner content styles  */

.banner-content{
    max-width: 54rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.2rem;
}
.banner-title{
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

@media  screen and (max-width:) {
    
}